<p id="notice"><%= notice %></p>

<h1>Scraped Data</h1>
<div class="alert alert-danger">
<dl class="dl-horizontal">
	<dt>Url: </dt>
	<dd><%= @scrapper.url %></dd>
	<dt>Title: </dt>
	<dd><%= @metatags.title%></dd>
	<dt> Meta Tag Description:</dt>
	<dd><%= @metatags.meta_tags["name"]["description"].first %></dd>
	<dt> Meta Tag Keywords:</dt>
	<dd><%= @metatags.meta_tags["name"]["keywords"].first %></dd>
</dl>
</div>

<%= link_to 'Edit', edit_scrapper_path(@scrapper) %> |
<%= link_to 'Back', scrappers_path %>

<%= form_tag search_scrappers_path, :method => 'get' do%>
   <p>     
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil%>
   </p>
<%end%>


<table class= "table table-hover">
  <thead>
    <tr class="warning">
      <th>ProductName</th>
      <th>Price</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% Product.all.each do |p| %>
      <tr class="info">
        <td><%= p.title%></td>
        <td><%= p.price%></td>
        <td><%= p.rating%></td>
      </tr>
    <%end%>
  </tbody>
</table>


